<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianzhi.mapper.PxbmApplyMapper">
  <resultMap id="BaseResultMap" type="com.jianzhi.model.PxbmApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pxid" jdbcType="VARCHAR" property="pxid" />
    <result column="is_cns" jdbcType="INTEGER" property="isCns" />
    <result column="is_sb" jdbcType="INTEGER" property="isSb" />
    <result column="apply" jdbcType="VARCHAR" property="apply" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="applytime" jdbcType="TIMESTAMP" property="applytime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pxid, is_cns, is_sb, apply, reply, status, applytime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pxbm_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pxbm_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jianzhi.model.PxbmApply">
    insert into pxbm_apply (pxid, is_cns, 
      is_sb, apply, reply, 
      status)
    values (#{pxid,jdbcType=VARCHAR}, #{isCns,jdbcType=INTEGER}, 
      #{isSb,jdbcType=INTEGER}, #{apply,jdbcType=VARCHAR}, #{reply,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jianzhi.model.PxbmApply">
    insert into pxbm_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pxid != null">
        pxid,
      </if>
      <if test="isCns != null">
        is_cns,
      </if>
      <if test="isSb != null">
        is_sb,
      </if>
      <if test="apply != null">
        apply,
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="applytime != null">
        applytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pxid != null">
        #{pxid,jdbcType=VARCHAR},
      </if>
      <if test="isCns != null">
        #{isCns,jdbcType=INTEGER},
      </if>
      <if test="isSb != null">
        #{isSb,jdbcType=INTEGER},
      </if>
      <if test="apply != null">
        #{apply,jdbcType=VARCHAR},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="applytime != null">
        #{applytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianzhi.model.PxbmApply">
    update pxbm_apply
    <set>
      <if test="pxid != null">
        pxid = #{pxid,jdbcType=VARCHAR},
      </if>
      <if test="isCns != null">
        is_cns = #{isCns,jdbcType=INTEGER},
      </if>
      <if test="isSb != null">
        is_sb = #{isSb,jdbcType=INTEGER},
      </if>
      <if test="apply != null">
        apply = #{apply,jdbcType=VARCHAR},
      </if>
      <if test="reply != null">
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="applytime != null">
        applytime = #{applytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianzhi.model.PxbmApply">
    update pxbm_apply
    set pxid = #{pxid,jdbcType=VARCHAR},
      is_cns = #{isCns,jdbcType=INTEGER},
      is_sb = #{isSb,jdbcType=INTEGER},
      apply = #{apply,jdbcType=VARCHAR},
      reply = #{reply,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      applytime = #{applytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPxid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pxbm_apply
    where pxid = #{pxid,jdbcType=VARCHAR} order by applytime desc
  </select>
</mapper>